@page "/form"
@rendermode InteractiveServer

<h3>Blazor Form Example</h3>

<EditForm FormName="ProductForm" Model="product" OnValidSubmit="Save">
    <label>Name: </label>
    <InputText @bind-Value="product.Name" /> <br /><br />

    <label>Price: </label>
    <InputNumber @bind-Value="product.Price" /> <br /><br />

    <button type="submit">Submit</button>
</EditForm>


@code {
    ProductModel product = new ProductModel();
    ProductModel? submittedProduct;

    public void Save()
    {
        submittedProduct = new ProductModel();
        submittedProduct.Name = product.Name;
        submittedProduct.Price = product.Price;
    }
}
