@page "/form"
@rendermode InteractiveServer

<h3>Blazor Form Example</h3>

<EditForm FormName="ProductForm" Model="product" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>Name: </label>
    <InputText @bind-Value="product.Name" /> 
    <ValidationMessage For="@(() => product.Name)" /><br /><br />

    <label>Price: </label>
    <InputNumber @bind-Value="product.Price" /> 
    <ValidationMessage For="@(() => product.Price)" /><br /><br />

    <button type="submit">Submit</button> <br /><br />
</EditForm>

<h4>Submitted Product:</h4>

@if (submittedProduct != null)
{
    <p>Name = @submittedProduct.Name</p>
    <p>Price = @submittedProduct.Price.ToString("C")</p>
}
else
{
    <p>No product submitted</p>
}


@code {
    ProductModel product = new ProductModel();
    ProductModel? submittedProduct;

    public void Save()
    {
        submittedProduct = new ProductModel();
        submittedProduct.Name = product.Name;
        submittedProduct.Price = product.Price;
    }
}
